{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <body>
        <section class="menu">
    <div class="bg-warning.bg-gradient">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-8 m-auto text-center">
                <h1>Developers of 🅱️LOG🌏VERSE Website</h1>
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-3 offset-lg-5 text-center ">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body" style="height: 500%; background-color: #cfb017" >
                        <img style="height: 350px; object-fit: cover" src="https://scontent.fdac24-2.fna.fbcdn.net/v/t39.30808-6/309623010_1154689085427179_3880688410427707404_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeErmLviSki_JcV4l1ujLV9nl-xKiPgvwgOX7EqI-C_CAy0HxWXtujqpQ_X7sqqXMVkyf7UsuxD_GqHSpvUwXdgp&_nc_ohc=qpsyjlwQBWIAb5zoky0&_nc_ht=scontent.fdac24-2.fna&oh=00_AfBblayuDZ26140gR8L2vlXhDQ-DpYqJ3ak1MXpfMqfXjw&oe=662F0C03" class="img-fluid" alt="">
                    </div>
                </div>
                <h6 style="color: black">Name: Muhammad Abu Sayed</h6>
                <p style="color: black">BlogVerse Project <strong>Leader</strong></p>
                <p style="color: black">Role: Back-end developer</p>
            </div>
        </div>

        <div class="row">
            
            <div class="col-lg-3 offset-lg-1 text-center pt-lg-5">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body" style="background-color: orange">
                        <img style="height: 350px; object-fit: cover" src="https://scontent.fdac24-1.fna.fbcdn.net/v/t39.30808-6/436380851_1811332566053098_2812005679719325461_n.jpg?stp=cp6_dst-jpg&_nc_cat=110&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGp2m19k7sXGugZsvXhFX3vPobg2Brzp5M-huDYGvOnk6U393yDcSYqVoJj9daUGZ-bdp2rk19UURcY2Qlm7-Bo&_nc_ohc=pOm5itblMhYAb5auIQR&_nc_ht=scontent.fdac24-1.fna&oh=00_AfDEsycL4FoWDiNMnumzTzfEfolcEkt6vsQh5IOi5dJZnQ&oe=662F0DA1" class="img-fluid" alt="">
                    </div>
                </div>
                 <h6 style="color: black">Name: Samiul Islam</h6>
                <p style="color: black">Memeber of BlogVerse Project</p>
                <p style="color: black">Role: Front-end Developer</p>
            </div>

             <div class="col-lg-3 offset-lg-5 text-center pt-lg-5">
                <div class="card border-0 bg-light mb-2" >
                    <div class="card-body" style="background-color: orange">
                        <img style="height: 350px; object-fit: cover" src="https://scontent.fdac24-2.fna.fbcdn.net/v/t39.30808-6/342448436_191342303754855_8201539070390563405_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeE4xKc9LGD_TW0lSD72tg4XlcmmhN8A17iVyaaE3wDXuJTxygKBlWz0HEhyFGYqMoSkpnn16USZjb6f8LdKgqgp&_nc_ohc=r51VIiP2uGIQ7kNvgHlaoH1&_nc_ht=scontent.fdac24-2.fna&oh=00_AfABc30ALYc6di7CxPklvEx1huX-v68kLd7MIz-81Syo7A&oe=662F1BCF" class="img-fluid" alt="">
                    </div>
                </div>
                <h6 style="color: black">Name: Mehedi Mehebub</h6>
                <p style="color: black">Member of BlogVerse Project</p>
                <p style="color: black">Role: Front-end Developer</p>
            </div>
        </div>
        
        
            <div class="row">
                
                <div class="col-lg-3 offset-lg-1 text-center pt-lg-5">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body" style="background-color: #9B703F">
                        <img style="height: 350px; object-fit: cover" src="https://scontent.fdac24-5.fna.fbcdn.net/v/t39.30808-6/285939711_3321897474720480_4667774246783564457_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFThKT1DU2Ul5ArpW9J-RARGPLNIMbh98MY8s0gxuH3wzUR3wghS7RxbJIGyUA4gLSuDD1TFgc6Nbm5DUZd7Plo&_nc_ohc=RnegJ98t_P0Ab7zGuPA&_nc_ht=scontent.fdac24-5.fna&oh=00_AfBPCYerZor-WERosWf2squZRHj8t6Q2Ak35VBSdcdYw7g&oe=662F0956" class="img-fluid" alt="">
                    </div>
                </div>
                <h6 style="color: black">Name: Mubtasim Kader Musfiq</h6>
                <p style="color: black">Member of BlogVerse Project</p>
                <p style="color: black">Role: Back-end Developer</p>
            </div>
                
                <div class="col-lg-3 offset-lg-5 text-center pt-lg-5">
                <div class="card border-0 bg-light mb-2">
                    <div class="card-body" style="background-color: #9B703F">
                        <img style="height: 350px; object-fit: cover" src="https://scontent.fdac24-3.fna.fbcdn.net/v/t39.30808-6/438037173_1618271918936603_8445176674856866347_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFguiWwXFB2t-aP44SHHJeznkQDhXkuzR2eRAOFeS7NHbtxSl9a_tVvL7cMYbApKxSAW-M_LosI-0omi9PTbJ-8&_nc_ohc=_GVtIBSYhXsQ7kNvgFK1gZJ&_nc_ht=scontent.fdac24-3.fna&oh=00_AfDOxY6nPO_aiQUbHnegUBITnyZB76QdGCL0LeSiBp04Bw&oe=663706DE" class="img-fluid" alt="">
                    </div>
                </div>
                <h6 style="color: black">Name: Mountasir Rahaman</h6>
                <p style="color: black">Member of BlogVerse Project</p>
                <p style="color: black">Role: Back-end Developer</p>
            </div>
                
            </div>
    </div>
    </div>
        </section>
    </body>
  
    
{% endblock %}